
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  	
	 


    <title></title>
	   <script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <nav class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/pages">pages</a></li>
			   <li ><a href="/admin/categories">Categories</a></li>
			   <li ><a href="/admin/products">Products</a></li>
           
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
			
<h2 class="page-title">Add a Product</h2>
<a href="/admin/products" class="btn btn-primary">BACK TO ALL PRODUCTS</a>
<br>
	
   
<form method="post" action="/admin/products/add-product" enctype="multipart/form-data">

	<div class="form-group">
	<label>Name</label>
		<input type="text" class="form-control" name="title" value="" placeholder="Title">
	</div>
		
		<div class="form-group">
	<label>Description</label>
			<textarea  class="form-control" id="editor" name="desc" value="" placeholder="Descrption" col="30" rows="10"></textarea>

	</div>
		

		<div class="form-group">
	<label>Price</label>
		<input type="text" class="form-control" name="price" value="" placeholder="Price">

	</div>
	
		<div class="form-group">
	<label>Discount Price</label>
		<input type="text" class="form-control" name="discount" value="" placeholder="Discount Price">

	</div>
	<div class="form-group">
	<label>Color</label>
		<input type="text" class="form-control" name="color" value="" placeholder="Add colors seperated by comma">

	</div>
	<div class="form-group">
	<label>Overview</label>
		<input type="text" class="form-control" name="overview" value="" placeholder="overview">

	</div>
	<div class="form-group">
	<label>Sizes</label>
		<input type="text" class="form-control" name="size" value="" placeholder="Add size seperated by comma">

	</div>
	<div class="form-group">
	<label>Quantity</label>
		<input type="text" class="form-control" name="quantity" value="" placeholder="Add Quantity">

	</div>
	<div class="form-group">
	<label>Category</label>
		<select name="category" class="form-control">
		<% for(var i=0; i < c1.length; i++) { %>
			<option value="<%= c1[i].title %>"><%= c1[i].title %></option>
		
		<% } %>
		</select>

	</div>
		<div class="form-group">
	<label>Brand</label>
		<select name="brand" class="form-control">
		<% for(var i=0; i < b1.length; i++) { %>
			<option value="<%= b1[i].title %>"><%= b1[i].title %></option>
		
		<% } %>
		</select>

	</div>
		<div class="form-group">
	<label>Type</label>
		<select name="type2" class="form-control">
		<% for(var i=0; i < t1.length; i++) { %>
			<option value="<%= t1[i].title %>"><%= t1[i].title %></option>
		
		<% } %>
		</select>

	</div>
		<div class="form-group">
	<label>Selling Type</label>
		<select name="type" class="form-control">
		<option value="Regular">Regular</option>
			<option value="Sale">Sale</option>
		
		
		</select>

	</div>
	<div class="form-group">
	<label>Image</label>
		<input type="file" class="form-control" name="image"  value=" " id="img">
		<img src="#" id="imgPreview">
	</div>
	
	
	<button class="btn btn-default">Submit</button>

</form>



<script>
function readURL(input){
	if(input.files && input.files[0]){
		var reader = new FileReader();
		
		reader.onload = function(e){
			$("#imgPreview").attr('src',e.target.result).width(100).height(100)
			
		}
		reader.readAsDataURL(input.files[0])
	}
}
	$("#img").change(function(){
		readURL(this)
	})


</script>
	

</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
	  <script src="/js/main.js"></script>

	 

  </body>
</html>